html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(356deg, #99cec0, #1b3fb0);
  background-size: 400% 400%;

  -webkit-animation: bgAnimation 6s ease infinite;
  -moz-animation: bgAnimation 6s ease infinite;
  -o-animation: bgAnimation 6s ease infinite;
  animation: bgAnimation 6s ease infinite;

  @-webkit-keyframes bgAnimation {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
  }
  @-moz-keyframes bgAnimation {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
  }
  @-o-keyframes bgAnimation {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
  }
  @keyframes bgAnimation {
    0% {
      background-position: 49% 0%;
    }
    50% {
      background-position: 52% 100%;
    }
    100% {
      background-position: 49% 0%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
